<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo Rafa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">victimasdelcredito.com</a>
        </div>
    </div>
</nav>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>Victimas del crédito.</h1>

        <form class="form-horizontal" id="search-form">
            <div class="form-group form-group-lg">
                <label class="col-sm-2 control-label">Tarjeta</label>
                <div class="col-sm-10">
                    <!-- <input type="text" class="form-control" id="tarjeta"/>
                    # card_name,tae
# card_name,tae
COFIDIS,24.51
WIZINK,26.82
YOU_ADVANZIA_BANK,26.82
COINC,25.34
EVO_FINANCE_CLASICA,21
PASS_CARREFOUR,17.23
ORO_BANKINTERCARD,26.82
ORO_ING,22
UNICA_BANKINTER,25.34
DESPUES_BBVA,19.28
SIN_SABADELL,47.60
123_SANTANDER,24.57
TU_ABANCA,14.42

LIBERBANK,26.3
SELF_TRADE_BANK,24
UNICAJA_BANCO,41.64
BANCO_CASTILLA_LA_MANCHA,26.3
BANCO_CAJA_ESPAÑA,31.28
BANCO_PICHINCHA,26.08
EVO_BANCO,21
CAJASUR,25
KUTXABANK,28
IBERCAJA,26.82
SANTANDER_CONSUMER_SERVICE,25.9
TARGOBANK,23.14
UNOE_BANK,22.62
BBVA,22.62
BANCO_MEDIOLANUM,22.42
BANCO_MARCH,24.6
DEUSTCHE_BANK,23.87
OPEN_BANK,24.6
                    -->
                    <select name="tarjeta" class="form-control">
                        <option value="COFIDIS">COFIDIS</option>
                        <option value="WIZINK" selected>WIZINK</option> <!-- Opción por defecto -->
                        <option value="YOU_ADVANZIA_BANK">YOU ADVANZIA BANK</option>
                        <option value="EVO_FINANCE_CLASICA">EVOFINANCE CLASICA</option>
                        <option value="COINC">COINC</option>
                        <option value="PASS_CARREFOUR">PASS CARREFOUR</option>
                        <option value="BANKINTERCARD">BANKINTERCARD</option>
                        <option value="ORO_BANKINTERCARD">ORO BANKINTERCARD</option>
                        <option value="ORO_ING">ORO ING</option>
                        <option value="UNICA_BANKINTER">UNICA BANKINTER</option>
                        <option value="DESPUES_BBVA">DESPUES BBVA</option>
                        <option value="123_SANTANDER">123 SANTANDER</option>
                        <option value="SIN_SABADELL">SIN SABADELL</option>
                        <option value="TU_ABANCA">TU ABANCA</option>
                        <option value="LIBERBANK">LIBERBANK</option>
                        <option value="SELF_TRADE_BANK">SELF TRADE_BANK</option> <!-- Opción por defecto -->
                        <option value="UNICAJA_BANCO">UNICAJA BANCO</option>
                        <option value="BANCO_CASTILLA_LA_MANCHA">BANCO CASTILLA LA_MANCHA</option>
                        <option value="BANCO_CAJA_ESPAÑA">BANCO CAJA ESPAÑA</option>
                        <option value="BANCO_PICHINCHA">BANCO PICHINCHA</option>
                        <option value="EVO_BANCO">EVO BANCO</option>
                        <option value="CAJASUR">CAJASUR</option>
                        <option value="KUTXABANK">KUTXABANK</option>
                        <option value="IBERCAJA">IBERCAJA</option>
                        <option value="SANTANDER_CONSUMER_SERVICE">SANTANDER CONSUMER SERVICE</option>
                        <option value="TARGOBANK">TARGOBANK</option>
                        <option value="UNOE_BANK">UNOE BANK</option>
                        <option value="BBVA">BBVA</option>
                        <option value="BANCO_MEDIOLANUM">BANCO MEDIOLANUM</option>
                        <option value="BANCO_MARCH">BANCO MARCH</option>
                        <option value="DEUSTCHE_BANK">DEUSTCHE BANK</option>
                        <option value="OPEN_BANK">OPEN BANK</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">Año</label>
                <div class="col-sm-10">
                    <!--<input type="text" class="form-control" id="año"/> -->
                    <select name="año" class="form-control" id="año">
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <option value="2008">2008</option>
                        <option value="2007">2007</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label">mes</label>
                <div class="col-sm-10">
                    <!-- <input type="text" class="form-control" id="mes"/> -->
                    <select name="mes" class="form-control" id="mes">
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febreo</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Septiembre">Septiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="bth-search"
                            class="btn btn-primary btn-lg">Search
                    </button>
                </div>
            </div>

            <div id="feedback"></div>

        </form>

    </div>

</div>

<div class="container">
    <footer>
        <p>
            © <a href="http://victimasdelcredito.com">Victimas del crédito</a> 2017
        </p>
    </footer>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>